@page "/"
@rendermode InteractiveAuto

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<FluentCard Class="mb-3">
	<FluentEditForm Model="@search">
		<FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center" Wrap="true">
			<div style="display:flex" class="me-2">
				<FluentInputLabel Label="Username" class="me-2 fluent-input-label"></FluentInputLabel>
				<FluentTextField Name="Username" @bind-Value="search.Username" Appearance="FluentInputAppearance.Filled" />
			</div>
			<div style="display:flex" class="me-2">
				<FluentInputLabel Label="Email" class="me-2 fluent-input-label"></FluentInputLabel>
				<FluentTextField Name="Email" @bind-Value="search.Email" Appearance="FluentInputAppearance.Filled" />
			</div>
			<div style="display:flex" class="me-2">
				<FluentInputLabel Label="Mobile" class="me-2 fluent-input-label"></FluentInputLabel>
				<FluentTextField Name="Mobile" @bind-Value="search.Mobile" Appearance="FluentInputAppearance.Filled" />
			</div>
			<div style="display:flex" class="me-2">
				<FluentInputLabel Label="Start Date" class="me-2 fluent-input-label"></FluentInputLabel>
				<FluentDatePicker AriaLabel="To" @bind-Value="@search.StartTime" />
			</div>
			<div style="display:flex" class="me-2">
				<FluentInputLabel Label="End Date" class="me-2 fluent-input-label"></FluentInputLabel>
				<FluentDatePicker AriaLabel="To" @bind-Value="@search.EndTime" />
			</div>
			<div>
				<FluentButton Appearance="Appearance.Accent">Search</FluentButton>
				<FluentButton>Reset</FluentButton>
			</div>
		</FluentStack>
	</FluentEditForm>
</FluentCard>


@code {
	[SupplyParameterFromForm]
	private AdminSearch search { get; set; } = new();


	public class AdminSearch
	{
		/// <summary>
		/// 用户名或昵称
		/// </summary>
		public string? Username { get; set; }

		/// <summary>
		/// 邮件地址
		/// </summary>
		public string? Email { get; set; }

		/// <summary>
		/// 手机号码
		/// </summary>
		public string? Mobile { get; set; }

		/// <summary>
		/// 真实姓名
		/// </summary>
		public string? RealName { get; set; }

		/// <summary>
		/// 查询开始时间
		/// </summary>
		public DateTime? StartTime { get; set; }

		/// <summary>
		/// 查询结束时间
		/// </summary>
		public DateTime? EndTime { get; set; }
	}
}