@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<FluentStack VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.Center" class="authentication-wrapper">
	<fluent-card style="width:480px;height:400px;">
		<p>Just some content in a card (with a button that does not do anything).</p>
		<FluentButton Appearance="Appearance.Accent">Hello</FluentButton>
	</fluent-card>

</FluentStack>